.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #025464;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #E8AA42;
  font-size: 7rem;
  color: #199e72;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  text-shadow: 2px 0 #E57C23;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.message{
  margin: 10px;
}

.flex-container{
  display: flex;
  justify-content: center;
}
.roll{
  background-color:#E8AA42;
  margin: 3rem;
  padding: 1rem;
  width: 200PX;
  border-radius: 6px;
  font-size: 24px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
